* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #2196f3 #c2d2e4;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #2196f3;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #212121;
}

.noScroll {
  position: fixed;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
li,
button {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.title--h2 {
  display: inline-block;
  font-size: 36px;
  font-weight: 700;
  line-height: 2.625rem;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

/* Helper classes */
.padding--y {
  padding-top: 60px;
  padding-bottom: 60px;
}

.padding--t {
  padding-top: 60px;
}

.padding--b {
  padding-bottom: 60px;
}

.margin--y {
  margin-top: 60px;
  margin-bottom: 60px;
}

.margin--t {
  margin-top: 60px;
}

.margin--b {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .padding--y {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .padding--t {
    padding-top: 94px;
  }
  .padding--b {
    padding-bottom: 94px;
  }
  .margin--y {
    margin-top: 94px;
    margin-bottom: 94px;
  }
  .margin--t {
    margin-top: 94px;
  }
  .margin--b {
    margin-bottom: 94px;
  }
}

.header {
  height: 80px;
  border-bottom: 1px solid #ececec;
}

.header--flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 93px;
  height: inherit;
}

.navigation--mobile {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 99;
  overflow: hidden;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 40px;
  padding-top: 46px;
  padding-bottom: 48px;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
  gap: 70px;
}

.nav__logo {
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.938rem;
  letter-spacing: 0.03em;
}

.nav__logo--accent {
  color: #2196f3;
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.nav__link {
  position: relative;
  font-size: 40px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  line-height: 2.9375rem;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.nav__link--active {
  color: #2196f3;
}

.nav__socials-list {
  display: flex;
  flex-wrap: wrap;
}

.nav__socials-item {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.375rem;
  letter-spacing: 0.02em;
  color: #2196f3;
  cursor: pointer;
  margin-top: 6px;
}

.nav__socials-item:not(:first-child) {
  padding-left: 10px;
}

.nav__socials-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.contact__link {
  color: #757575;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.contact__link--tel {
  font-size: 34px;
  line-height: 2.5rem;
}

.contact__link--mail {
  font-size: 24px;
  line-height: 1.75rem;
}

.contact__link:hover, .contact__link:focus {
  color: #2196f3;
}

.hide-for-mobile {
  display: none;
}

.hide-for-desktop {
  display: flex;
}

.open .hamburger-lines > span:first-child {
  transform: rotate(45deg);
}

.open .hamburger-lines > span:nth-child(2) {
  opacity: 0;
}

.open .hamburger-lines > span:last-child {
  transform: rotate(-45deg);
}

.hamburger-lines {
  display: block;
  height: 21px;
  width: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  z-index: 999;
}

.hamburger-lines:hover .line {
  background: #2196f3;
}

.hamburger-lines .line {
  display: block;
  height: 3px;
  width: 108%;
  border-radius: 10px;
  transform-origin: 3px 1px;
  margin-bottom: 3px;
  background: #212121;
}

.hamburger-lines .line1 {
  transform-origin: 10% 213%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hamburger-lines .line2 {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hamburger-lines .line3 {
  transform-origin: 23% -33%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hamburgerOpen {
  position: fixed;
  right: 15px;
}

@media screen and (min-width: 768px) {
  .navigation--desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    width: 100%;
    position: initial;
    width: 100%;
  }
  .nav__logo {
    font-size: 26px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    line-height: 1.938rem;
    letter-spacing: 0.03em;
  }
  .nav__logo--accent {
    color: #2196f3;
  }
  .nav__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 46px;
  }
  .nav__link {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    line-height: 1rem;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__link:hover, .nav__link:focus {
    color: #2196f3;
  }
  .nav__link::after {
    position: absolute;
    content: '';
    display: block;
    bottom: -30px;
    right: 0;
    width: 0;
    height: 5px;
    background-color: #2196f3;
    border-radius: 4px;
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__link:hover::after, .nav__link:focus::after {
    width: 100%;
    left: 0;
  }
  .nav__link--active {
    color: #2196f3;
  }
  .nav__link--active::after {
    position: absolute;
    content: '';
    display: block;
    bottom: -30px;
    right: 0;
    width: 100%;
    height: 5px;
    background-color: #2196f3;
    border-radius: 4px;
  }
  .contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
  }
  .contact__link {
    display: flex;
    align-items: center;
    color: #757575;
    fill: #757575;
    font-size: 14px;
    font-weight: 500;
    line-height: 1rem;
    letter-spacing: 0.02em;
    gap: 10px;
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__link:hover, .contact__link:focus {
    color: #2196f3;
    fill: #2196f3;
  }
  .hide-for-mobile {
    display: flex;
  }
  .hide-for-desktop {
    display: none;
  }
}

@media screen and (min-width: 930px) {
  .contact {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 50px;
  }
}

.footer {
  background-color: #2f303a;
}

.footer__content {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__list {
  text-align: center;
}

.footer__item {
  padding-bottom: 60px;
}

.footer__item:last-child {
  padding-bottom: 0;
}

.footer__logo {
  display: inline-block;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.938rem;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer__logo--accent {
  color: #2196f3;
}

.footer__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-bottom: 20px;
  text-transform: uppercase;
  display: inline-block;
}

.footer .address__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer .address__item {
  font-size: 14px;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer .address__link {
  font-size: 14px;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .address__link--white {
  color: #ffffff;
}

.footer .address__link:hover, .footer .address__link:focus {
  color: #2196f3;
}

.footer .joinUs__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer .joinUs__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .joinUs__link:hover, .footer .joinUs__link:focus {
  background-color: #2196f3;
}

.footer .newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.footer .newsletter__input {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #757575;
  background-color: transparent;
  border-radius: 4px;
  height: 50px;
  width: 100%;
  padding-left: 16px;
  border: 1px solid #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.footer .newsletter__input:focus {
  border: 1px solid #2196f3;
}

.footer .newsletter__input:focus::placeholder {
  color: #2196f3;
}

.footer .newsletter__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1.875rem;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: #ffffff;
  gap: 24px;
  padding: 10px 28px 10px 42px;
  border-radius: 4px;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  fill: #ffffff;
  cursor: pointer;
  margin-top: 20px;
  min-width: 201px;
}

@media screen and (min-width: 480px) {
  .footer__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;
  }
  .footer__item {
    padding-bottom: 0;
  }
  .footer__item:last-child {
    justify-content: center;
    align-items: center;
    width: 451px;
  }
}

@media screen and (min-width: 768px) {
  .footer__item:nth-child(2) {
    padding-bottom: 30px;
  }
  .footer__item:last-child {
    width: 578px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__list {
    text-align: left;
  }
  .footer__item:not(:first-child) {
    padding-bottom: 30px;
  }
  .footer__item:last-child {
    width: auto;
  }
  .footer .newsletter {
    flex-direction: row;
    gap: 12px;
    max-width: 100%;
  }
  .footer .newsletter__input {
    width: 358px;
  }
  .footer .newsletter__btn {
    margin-top: 0;
  }
}

.hero {
  position: relative;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}

.hero__bg {
  width: 100%;
  object-fit: cover;
  height: 100%;
  position: absolute;
  z-index: -10;
}

.hero__content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  flex-direction: column;
  gap: 30px;
}

.hero__title {
  color: #ffffff;
  font-size: 26px;
  font-weight: 900;
  line-height: 2.625rem;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  max-width: 365px;
}

.hero__btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875rem;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  padding: 10px 41px;
  cursor: pointer;
}

.preLoadImg .preLoadImg-1 {
  display: block;
}

.preLoadImg .preLoadImg-2 {
  display: none;
}

.preLoadImg .preLoadImg-3 {
  display: none;
}

@media screen and (min-width: 1200px) {
  .hero__content {
    height: 600px;
    flex-direction: column;
    gap: 30px;
  }
  .hero__title {
    color: #ffffff;
    font-size: 44px;
    font-weight: 900;
    line-height: 3.75rem;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    max-width: 696px;
  }
  .hero__btn {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875rem;
    letter-spacing: 0.06em;
    color: #ffffff;
    background-color: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0;
    border-radius: 4px;
    padding: 10px 41px;
    cursor: pointer;
  }
}

.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 9999;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.is-hidden--menu {
  transform: translateY(-100%);
}

.modal {
  position: absolute;
  max-height: 609px;
  max-width: 450px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__btn-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  fill: #000000;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.modal__btn-close:hover, .modal__btn-close:focus {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

.modal__form {
  overflow-y: auto;
  width: 95vw;
  height: 95vh;
  max-height: 609px;
}

.modal__form__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 30px 40px 0 40px;
  flex-direction: column;
}

.modal__form__title {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.875rem;
  letter-spacing: 0.03em;
  padding-bottom: 12px;
}

.modal__form__label {
  width: 100%;
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  line-height: 0.875rem;
  letter-spacing: 0.01em;
  flex-direction: column;
}

.modal__form__label:last-of-type {
  display: flex;
  justify-content: center;
}

.modal__form__label-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  color: #757575;
  font-size: 12px;
  line-height: 0.875rem;
  letter-spacing: 0.01em;
  padding-bottom: 4px;
  margin-top: 4px;
}

.modal__form__input {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(117, 117, 117, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form__input:focus {
  border: 1px solid #2196f3;
}

.modal__form__input:focus + .modal__form__svg {
  fill: #2196f3;
}

.modal__form__textarea {
  color: #757575;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(117, 117, 117, 0.2);
  border-radius: 4px;
  height: 120px;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 20px;
  outline: none;
}

.modal__form__textarea::placeholder {
  color: #757575;
}

.modal__form__textarea:focus {
  border: 1px solid #2196f3;
}

.modal__form__svg {
  position: absolute;
  margin-left: 12px;
}

.modal__form__policy-label {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  color: #757575;
  gap: 4px;
  cursor: pointer;
}

.modal__form__policy-input {
  position: absolute;
  cursor: pointer;
  width: 15px;
  height: 15px;
  left: 0;
  margin-top: 3px;
  z-index: -999;
}

.modal__form__policy-input:checked ~ .modal__form__policy-checkmark {
  background-color: #2196f3;
  border: 1px solid #2196f3;
}

.modal__form__policy-input:checked ~ .modal__form__policy-checkmark .modal__form__policy-checkmark-svg {
  opacity: 1;
}

.modal__form__policy-checkmark {
  height: 16px;
  width: 15px;
  border: 1px solid #2f303a;
  border-radius: 2px;
  background-color: #eee;
  margin-top: 3px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form__policy-checkmark-svg {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form__policy-link {
  color: #2196f3;
  text-decoration: underline;
}

.modal__form__policy-text {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.modal__form__btn {
  color: #ffffff;
  background-color: #2196f3;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875rem;
  letter-spacing: 0.06em;
  padding: 10px 41px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  width: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    max-height: 581px;
  }
  .modal__form {
    max-height: 581px;
  }
  .modal__form__title {
    line-height: 1.4375rem;
  }
  .modal__form__policy-label {
    font-size: 14px;
  }
}

.features {
  display: none;
  text-align: center;
}

.features__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.features__item {
  position: relative;
}

.features__img {
  display: block;
}

.features__description {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .features {
    display: block;
  }
}

.about__list {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 450px));
}

.about__item {
  max-width: 450px;
  text-align: center;
}

.about__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
}

.about__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  color: #757575;
}

.about__svg {
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 480px) {
  .about__list {
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
  }
  .about__item {
    max-width: 354px;
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .about__list {
    grid-template-columns: repeat(auto-fit, minmax(305px, auto));
  }
  .about__item {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .about {
    padding-bottom: 0;
  }
  .about__list {
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
  }
  .about__item {
    max-width: 270px;
  }
}

.team {
  background-color: #f5f4fa;
  text-align: center;
}

.team__list {
  display: grid;
  align-items: center;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.team__item {
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 2.625rem;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team__item-img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 460px;
}

.team__item-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875rem;
  letter-spacing: 0.03em;
  padding-top: 30px;
  padding-bottom: 10px;
}

.team__item-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1875rem;
  letter-spacing: 0.03em;
  color: #757575;
}

.team__social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 30px;
  gap: 10px;
}

.team__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social-link:hover, .team__social-link:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

@media screen and (min-width: 480px) {
  .team__list {
    grid-template-columns: repeat(auto-fit, minmax(285px, auto));
    justify-content: center;
  }
  .team__item {
    max-width: 354px;
  }
  .team__item-img {
    height: 374px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    grid-template-columns: repeat(auto-fit, minmax(305px, auto));
  }
  .team__item {
    max-width: 354px;
  }
  .team__item-img {
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
  }
  .team__item {
    max-width: 270px;
  }
  .team__item-img {
    height: 260px;
  }
}

.clients {
  text-align: center;
}

.clients__list {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(130px, auto));
}

.clients__item {
  max-width: 210px;
  height: 92px;
}

.clients__link {
  width: 100%;
  height: 100%;
  display: inline-block;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196f3;
}

.clients__link:hover .clients__svg,
.clients__link:focus .clients__svg {
  fill: #2196f3;
}

.clients__svg {
  width: 100%;
  height: 100%;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .clients__list {
    grid-template-columns: repeat(auto-fit, minmax(190px, auto));
  }
  .clients__item {
    max-width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__list {
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
  }
  .clients__item {
    max-width: 170px;
  }
}

.portfolio__filtr__list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.portfolio__filtr__btn {
  color: #212121;
  font-size: 16px;
  line-height: 1.625rem;
  font-weight: 500;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__filtr__btn:hover, .portfolio__filtr__btn:focus, .portfolio__filtr__btn:active {
  color: #ffffff;
  background-color: #2196f3;
}

@media screen and (min-width: 480px) {
  .portfolio__filtr__list {
    justify-content: center;
  }
}

.portfolio__content__list {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-top: 50px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 450px));
}

.portfolio__content__item {
  max-width: 450px;
  height: 100%;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.portfolio__content__item:hover, .portfolio__content__item:focus {
  background: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  border-radius: 0px 0px 4px 4px;
}

.portfolio__content__link:hover .portfolio__content__overlay,
.portfolio__content__link:focus .portfolio__content__overlay {
  transform: translateY(-100%);
}

.portfolio__content__img {
  position: relative;
  overflow: hidden;
}

.portfolio__content__img img {
  display: block;
  width: 100%;
  height: 294px;
  object-fit: cover;
}

.portfolio__content__title {
  color: #212121;
  font-size: 18px;
  line-height: 2.25rem;
  font-weight: 700;
  letter-spacing: 0.06em;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 24px;
}

.portfolio__content__description {
  color: #757575;
  font-size: 16px;
  line-height: 1.875rem;
  font-weight: 500;
  letter-spacing: 0.03em;
  padding-bottom: 30px;
  padding-left: 24px;
}

.portfolio__content__overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  transform: translateY(0);
  font-size: 18px;
  line-height: 1.75rem;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  padding-top: 49px;
  padding-left: 24px;
  padding-right: 45px;
  padding-bottom: 45px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .portfolio__content__list {
    grid-template-columns: repeat(auto-fit, minmax(322px, auto));
  }
  .portfolio__content__item {
    max-width: 354px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__content__list {
    grid-template-columns: repeat(auto-fit, minmax(345px, auto));
  }
  .portfolio__content__item {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__content__list {
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  }
  .portfolio__content__item {
    max-width: 370px;
  }
}
/*# sourceMappingURL=main.css.map */