.features {
    display: none;
    text-align: center;

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    &__item {
        position: relative;
    }

    &__img {
        display: block;
    }

    &__description {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 70px;
        color: $color-white;
        background-color: rgba($color-dark, 0.8);
        font-size: $font-size-14;
        font-weight: $font-weight-bold;
        line-height: $line-height-16;
        letter-spacing: $letter-spacing-03;
        text-transform: uppercase;
    }
}

@media screen and (min-width: 1200px) {
    .features {
        display: block;
    }
}