.hero {
    position: relative;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));

    &__bg {
        width: 100%;
        object-fit: cover;
        height: 100%;
        position: absolute;
        z-index: -10;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 400px;
        flex-direction: column;
        gap: $gap-30;
    }

    &__title {
        color: $color-white;
        font-size: $font-size-26;
        font-weight: $font-weight-xbold;
        line-height: $line-height-42;
        letter-spacing: $letter-spacing-06;
        text-align: center;
        text-transform: uppercase;
        max-width: 365px;
    }

    &__btn {
        font-size: $font-size-16;
        font-weight: $font-weight-bold;
        line-height: $line-height-30;
        letter-spacing: $letter-spacing-06;
        color: $color-white;
        background-color: $color-accent;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border: 0;
        border-radius: $border-r-4;
        padding: $gap-10 $gap-41;
        cursor: pointer;
    }
}

.preLoadImg {
    .preLoadImg-1 {
        display: block;
    }

    .preLoadImg-2 {
        display: none;
    }

    .preLoadImg-3 {
        display: none;
    }
}

@media screen and (min-width: 480px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1200px) {
    .hero {
        &__content {
            height: 600px;
            flex-direction: column;
            gap: $gap-30;
        }

        &__title {
            color: $color-white;
            font-size: $font-size-44;
            font-weight: $font-weight-xbold;
            line-height: $line-height-60;
            letter-spacing: $letter-spacing-06;
            text-align: center;
            text-transform: uppercase;
            max-width: 696px;
        }

        &__btn {
            font-size: $font-size-16;
            font-weight: $font-weight-bold;
            line-height: $line-height-30;
            letter-spacing: $letter-spacing-06;
            color: $color-white;
            background-color: $color-accent;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border: 0;
            border-radius: $border-r-4;
            padding: $gap-10 $gap-41;
            cursor: pointer;
        }
    }
}