.portfolio {
    &__content {
        &__list {
            display: grid;
            align-items: center;
            justify-content: center;
            gap: 30px;
            padding-top: 50px;
            grid-template-columns: repeat(auto-fit, minmax(350px, 450px));
        }

        &__item { 
            max-width: 450px;
            height: 100%;
            background-color: $color-white;
            border: 1px solid #eeeeee;
            transition: box-shadow 250ms $trans-func, background 250ms $trans-func;
            overflow: hidden;

            &:hover,
            &:focus {
                background: #ffffff;
                box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
                border-radius: 0px 0px 4px 4px;
            }
        }

        &__link {

            &:hover .portfolio__content__overlay,
            &:focus .portfolio__content__overlay {
                transform: translateY(-100%);
            }
        }

        &__img {
            position: relative;
            overflow: hidden;

            img {
                display: block;
                width: 100%;
                height: 294px;
                object-fit: cover;
            }
        }

        &__title {
            color: $color-primary;
            font-size: $font-size-18;
            line-height: $line-height-36;
            font-weight: $font-weight-bold;
            letter-spacing: $letter-spacing-06;
            padding-top: $gap-20;
            padding-bottom: $gap-10;
            padding-left: $gap-24;
        }

        &__description {
            color: $color-secondary;
            font-size: $font-size-16;
            line-height: $line-height-30;
            font-weight: $font-weight-light;
            letter-spacing: $letter-spacing-03;
            padding-bottom: $gap-30;
            padding-left: $gap-24;
        }

        &__overlay {
            position: absolute;
            height: 100%;
            width: 100%;
            transform: translateY(0);
            font-size: $font-size-18;
            line-height: $line-height-28;
            letter-spacing: $letter-spacing-03;
            color: $color-white;
            background-color: rgba($color-accent, 0.9);
            padding-top: 49px;
            padding-left: 24px;
            padding-right: 45px;
            padding-bottom: 45px;
            transition: transform 250ms $trans-func;
        }
    }
}

@media screen and (min-width: 480px) {
    .portfolio {
        &__content {
            &__list {
                grid-template-columns: repeat(auto-fit, minmax(322px, auto));
            }

            &__item {
                max-width: 354px;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .portfolio {
        &__content {
            &__list {
                grid-template-columns: repeat(auto-fit, minmax(345px, auto));
            }

            &__item {
                max-width: 354px;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .portfolio {
        &__content {
            &__list {
                grid-template-columns: repeat(auto-fit, minmax(350px, auto));
            }

            &__item {
                max-width: 370px;
            }
        }
    }
}